.root {
	base-color:#acaaae;
	black-color:#000000;
	-fx-font-size:14px;
	-fx-background-color:base-color;
}

.h-box {
	-fx-spacing: 10;
	-fx-alignment:top-center;
}

.button {
	-fx-background-color:base-color;
	-fx-text-alignment: center;
	-fx-font-size:14px;
	-fx-text-fill:black-color;
	-fx-border-color:black-color;
	-fx-border-width:3;
}